{% extends 'base.html.twig' %}

{% block title %}Hello AdminDahboardController!{% endblock %}

{% block body %}
    <div class="container">
        <nav>
            <p>Gestion des tables de l'application</p>
            <a href="{{ path('agents_index') }}">liste des agents</a></br>
            <a href="{{ path('targets_index') }}">liste des cibles</a></br>
        </nav>
    </div>

{% endblock %}
